:root {
    --head-color: #212121;
    --button-color: #2196F3;
    --p-color: #757575;
    --animation-color: #FFFFFF;
}


body {
    color: var(--p-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    font-size: 14px;
}

ul {
    list-style: none;
}

/* Logo */

.logo {
color: var(--button-color);
font-family: 'Raleway', sans-serif;
letter-spacing: 0.03em;
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
text-decoration: none;
}

.logo-head {
color: #000000;
}



.page-link .link {
    color: var(--head-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    text-decoration: none;
}

.page-link .link:hover , .page-link .link:focus {
    color: var(--button-color);
}

.page-link .link.current {
    color: var(--button-color);
}


.page-mail {
    color: var(--p-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.12em;
    text-decoration: none;
}

.page-mail:hover,
.page-mail:focus {
    color: var(--button-color);
}



/* Tittle */


.tittle {
background-color: #2F303A;
}

.tittle-h {
    color: var(--animation-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.tittle-botton {
color: var(--animation-color) ;
background-color: var(--button-color);
font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
}

.tittle-botton:hover, .tittle-botton:focus {
    background-color: var(--button-color);
    color: var(--animation-color);
}


/* About */


.about-list-tittle {
    color: var(--head-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.about-list-text {
color: var(--p-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71em;
}


/* about us */


.about-we {
color: var(--head-color);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}



/* Team */

.team-tittle {
color: var(--head-color);
font-weight: 700;
font-size: 36px;
line-height: 1.17em;
text-align: center;
}


.team-list-tittle {
color: var(--head-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19em;
text-align: center;
letter-spacing: 0.03em;
}

.team-list-text {
    color: var(--head-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19em;
    text-align: center;
    letter-spacing: 0.03em;
}


/* End */

.end {
    background-color: #2F303A;

}

.end-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    
}

.logo-footer {
color: var(--animation-color);
}

.address {
color: var(--animation-color);
text-decoration: none;
font-style: normal;
}
.address:hover {
    color: var(--button-color);
}

.mail {
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
font-style: normal;
} 
.mail:hover {
    color: var(--button-color);
}





/* portfolio */

.filters-link {
    text-align: center;
}
.filters-text {
    color: var(--head-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63em;
    text-align: center;
    cursor: pointer;
    background-color: #F5F4FA;
}

.filters-text:hover, .filters-text:focus {
color: var(--animation-color);
background-color: var(--button-color);
}

.filters-project-tettle {
    color: var(--head-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
}

.filters-project-text {
color: var(--p-color);
font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
}